iphone/build
/iphone/ti.accountkit.xcodeproj/project.xcworkspace/xcuserdata/hans.xcuserdatad/UserInterfaceState.xcuserstate
iphone/ti.accountkit.xcodeproj/project.xcworkspace/
/iphone/.DS_Store
/iphone/ti.accountkit.xcodeproj/xcuserdata/hknoechel.xcuserdatad
