/ios/build
/ios/ti.accountkit.xcodeproj/project.xcworkspace/xcuserdata/hans.xcuserdatad/UserInterfaceState.xcuserstate
/ios/ti.accountkit.xcodeproj/project.xcworkspace/
/ios/.DS_Store
/ios/ti.accountkit.xcodeproj/xcuserdata/hknoechel.xcuserdatad
/.DS_Store
